
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <div class="thumb">
                        <div class="inner-content">
                            <h4>Thời trang T & T</h4>
                            <span>Sẽ làm cho bạn ngạc nhiên và say đắm vào những sản phẩm.</span>
                            <div class="main-border-button">
                                <a href="/Products/Index">Mua Ngay</a>
                            </div>
                        </div>
                        <img src="~/Materials/images/left-banner-image.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Áo Thun</h4>
                                        <span>Sản phẩm nổi bật</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Áo Thun</h4>
                                            <p>Khách hàng phải thật vui vẻ thì khách hàng mới là khách hàng của shop chúng tôi.</p>
                                            <div class="main-border-button">
                                                <a href="#">Khám phá nhiều hơn</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="~/Materials/images/banner-ao-thun.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Áo Sơ Mi</h4>
                                        <span>Sản phẩm nổi bật</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Áo Sơ Mi</h4>
                                            <p>Khách hàng phải thật vui vẻ thì khách hàng mới là khách hàng của shop chúng tôi.</p>
                                            <div class="main-border-button">
                                                <a href="#">Khám phá nhiều hơn</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="~/Materials/images/banner-ao-somi.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Áo Hoodie</h4>
                                        <span>Sản phẩm nổi bật</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Áo Hoodie</h4>
                                            <div class="main-border-button">
                                                <a href="#">Khám phá nhiều hơn</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="~/Materials/images/banner-ao-hoodie.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Thời Trang T & T</h4>
                                        <span>Sản phẩm nổi bật</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Thời trang T & T</h4>
                                            <div class="main-border-button">
                                                <a href="#">Khám phá nhiều hơn</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="~/Materials/images/banner-ao-thun.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<!-- ***** Men Area Starts ***** -->
<section class="section" id="men">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Áo Thun</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="men-item-carousel">
                    <div class="owl-men-item owl-carousel">
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="/Single_products/Index"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="/Single_products/Index"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/Materials/images/ao-thun-01.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>CLOUDZY BASIC TEE 2</h4>
                                <span>119.000 đ</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="/Single_products/Index"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="/Single_products/Index"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/Materials/images/ao-thun-02.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Áo thun local brand ONTOP</h4>
                                <span>225.000 đ</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="/Single_products/Index"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="/Single_products/Index"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/Materials/images/ao-thun-03.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Áo thun local brand TSUN Broken Wash Tee</h4>
                                <span>500.000 đ</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="/Single_products/Index"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="/Single_products/Index"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/Materials/images/ao-thun-04.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Áo thun unisex Pyramid màu đen local brand ONTOP</h4>
                                <span>79.000 đ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Men Area Ends ***** -->
<!-- ***** Women Area Starts ***** -->
<section class="section" id="women">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Áo Sơ Mi</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="women-item-carousel">
                    <div class="owl-women-item owl-carousel">
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="/Single_products/Index"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="/Single_products/Index"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/Materials/images/ao-somi-01.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Áo sơ mi Owlbrand Oxford 2.0</h4>
                                <span>449.000 đ</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="/Single_products/Index"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="/Single_products/Index"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/Materials/images/ao-somi-02.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Áo sơ mi nam nữ tay ngắn nhung tăm kiểu dáng</h4>
                                <span>85.000 đ</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="/Single_products/Index"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="/Single_products/Index"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/Materials/images/ao-somi-03.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Áo Sơ Mi SAIGONESE Original Logo Thêu</h4>
                                <span>159.000 đ</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="/Single_products/Index"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="/Single_products/Index"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/Materials/images/ao-somi-04.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Áo sơ mi ngắn tay Local Brand cao cấp cổ vest BOIZ</h4>
                                <span>129.000 đ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Women Area Ends ***** -->
<!-- ***** Kids Area Starts ***** -->
<section class="section" id="kids">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2> Áo Hoodie</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="kid-item-carousel">
                    <div class="owl-kid-item owl-carousel">
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="/Single_products/Index"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="/Single_products/Index"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/Materials/Images/ao-hoodie-01.jpg" />
                            </div>
                            <div class="down-content">
                                <h4>Áo Hoodie Teelab Local Brand Morning Star Bunny HD062</h4>
                                <span>299.000 đ</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="/Single_products/Index"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="/Single_products/Index"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/Materials/Images/ao-hoodie-02.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Áo Hoodie nỉ The Xide in hình Cánh đồng</h4>
                                <span>229.000 đ</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="/Single_products/Index"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="/Single_products/Index"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/Materials/Images/ao-hoodie-03.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Áo Hoodie Chui Thêu NQ30 AM</h4>
                                <span>239.000 đ</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="/Single_products/Index"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="/Single_products/Index"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/Materials/Images/ao-hoodie-04.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Áo Hoodie nỉ The Xide in hình TRUST YOUR HỒNG</h4>
                                <span>239.000 đ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Kids Area Ends ***** -->
<!-- ***** Subscribe Area Starts ***** -->
<div class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-heading">
                    <h2>Bằng cách đăng ký nhận bản tin của chúng tôi, bạn có thể được giảm giá 30%</h2>
                </div>
                <form id="subscribe" action="" method="get">
                    <div class="row">
                        <div class="col-lg-5">
                            <fieldset>
                                <input name="name" type="text" id="name" placeholder="Tên của Bạn" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-5">
                            <fieldset>
                                <input name="email" type="text" id="email" pattern="[^ ]*[^ ]*" placeholder="Địa chỉ Email" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-2">
                            <fieldset>
                                <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li>Địa chỉ cửa hàng:<br><span>An Phú Đông</span></li>
                            <li>Số điện thoại:<br><span>010-020-0340</span></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                            <li>Giờ làm việc :<br><span>07:30 AM - 9:30 PM hằng ngày</span></li>
                            <li>Email:<br><span>info@company.com</span></li>
                            <li>Social Media:<br><span><a href="#">Facebook</a>, <a href="#">Instagram</a>, <a href="#">Behance</a>, <a href="#">Linkedin</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Subscribe Area Ends ***** -->
