

@{
    ViewBag.Title = "Index";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Ribbons</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="position-relative p-3 bg-gray" style="height: 470px">
                                    <img src="~/Materials/Images/ao-thun-01.jpg" />
                                    <marquee>Áo thun CLOUDZY BASIC TEE 2 </marquee>
                                    <h5>199000đ</h5>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="position-relative p-3 bg-gray" style="height: 470">
                                    <img src="~/Materials/Images/ao-thun-02.jpg" />
                                    <marquee>Áo thun local brand ONTOP </marquee>
                                    <h5>252000đ</h5>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="position-relative p-3 bg-gray" style="height: 470">
                                    <img src="~/Materials/Images/ao-thun-03.jpg" />
                                    <marquee>Áo thun local brand TSUN Broken Wash Tee </marquee>
                                    <h5>499000đ</h5>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="position-relative p-3 bg-gray" style="height: 470">
                                    <img src="~/Materials/Images/ao-somi-01.jpg" />
                                    <marquee>Áo sơ mi Owlbrand Oxford 2.0 </marquee>
                                    <h5>449000đ</h5>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="position-relative p-3 bg-gray" style="height: 470">
                                    <img src="~/Materials/Images/ao-somi-02.jpg" />
                                    <marquee>Áo sơ mi nam nữ tay ngắn nhung tăm kiểu dáng </marquee>
                                    <h5>129000đ</h5>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="position-relative p-3 bg-gray" style="height: 470">
                                    <img src="~/Materials/Images/ao-somi-03.jpg" />
                                    <marquee>Áo Sơ Mi SAIGONESE Original Logo Thêu </marquee>
                                    <h5>221000đ</h5>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="position-relative p-3 bg-gray" style="height: 470">
                                    <img src="~/Materials/Images/ao-hoodie-01.jpg" />
                                    <marquee>Áo Hoodie Teelab Local Brand Morning Star Bunny </marquee>
                                    <h5>179000đ</h5>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="position-relative p-3 bg-gray" style="height: 470">
                                    <img src="~/Materials/Images/ao-hoodie-04.jpg" />
                                    <marquee>Áo Hoodie nỉ The Xide in hình TRUST YOUR HỒNG </marquee>
                                    <h5>229000đ</h5>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="position-relative p-3 bg-gray" style="height: 470">
                                    <img src="~/Materials/Images/ao-hoodie-05.jpg" />
                                    <marquee>Áo Hoodie nỉ The Xide in hình BÔNG HOA </marquee>
                                    <h5>279000đ</h5>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
