@model ShopBanHang.Models.Orders

@{
    ViewBag.Title = "Index";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active"></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Danh sách đơn hàng mới đặt</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Stt</th>
                                <th>Số đơn hàng</th>
                                <th>Tên khách hàng</th>
                                <th>Ngày giao</th>
                                <th>Địa chỉ</th>
                                <th>Thành tiền</th>
                                <th>Nhóm lệnh</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01</td>
                                <td>1111</td>
                                <td>Lê Ánh Nguyệt </td>
                                <td>21/12/2023</td>
                                <td>TP.HCM</td>
                                <td>10.000.000Tr</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>1112</td>
                                <td>Chương Văn Quý </td>
                                <td>20/12/2023</td>
                                <td>TP.NinhBinh</td>
                                <td>11.000.000Tr</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>03</td>
                                <td>1119</td>
                                <td>Lê anh </td>
                                <td>21/12/2023</td>
                                <td>TP.HCM</td>
                                <td>1Tr</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>04</td>
                                <td>1120</td>
                                <td>Lê anh </td>
                                <td>21/12/2023</td>
                                <td>TP.HCM</td>
                                <td>1Tr</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>05</td>
                                <td>1101</td>
                                <td>Lê anh </td>
                                <td>21/12/2023</td>
                                <td>TP.HCM</td>
                                <td>1Tr</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>06</td>
                                <td>1102</td>
                                <td>Lê anh </td>
                                <td>21/12/2023</td>
                                <td>TP.HCM</td>
                                <td>1Tr</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>07</td>
                                <td>1109</td>
                                <td>Lê anh </td>
                                <td>21/12/2023</td>
                                <td>TP.HCM</td>
                                <td>1Tr</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>08</td>
                                <td>1108</td>
                                <td>Lê anh </td>
                                <td>21/12/2023</td>
                                <td>TP.HCM</td>
                                <td>1Tr</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>09</td>
                                <td>1104</td>
                                <td>Lê anh </td>
                                <td>21/12/2023</td>
                                <td>TP.HCM</td>
                                <td>1Tr</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>1103</td>
                                <td>Lê anh </td>
                                <td>21/12/2023</td>
                                <td>TP.HCM</td>
                                <td>1Tr</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>1113</td>
                                <td>Lê anh </td>
                                <td>21/12/2023</td>
                                <td>TP.HCM</td>
                                <td>1Tr</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>1105</td>
                                <td>Lê anh </td>
                                <td>21/12/2023</td>
                                <td>TP.HCM</td>
                                <td>1Tr</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>1107</td>
                                <td>Lê anh </td>
                                <td>21/12/2023</td>
                                <td>TP.HCM</td>
                                <td>1Tr</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>1106</td>
                                <td>Lê anh </td>
                                <td>21/12/2023</td>
                                <td>TP.HCM</td>
                                <td>1Tr</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>1116</td>
                                <td>Lê anh </td>
                                <td>21/12/2023</td>
                                <td>TP.HCM</td>
                                <td>1Tr</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>1116</td>
                                <td>Lê anh </td>
                                <td>21/12/2023</td>
                                <td>TP.HCM</td>
                                <td>1Tr</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>1115</td>
                                <td>Lê anh </td>
                                <td>21/12/2023</td>
                                <td>TP.HCM</td>
                                <td>1Tr</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>1117</td>
                                <td>Lê anh </td>
                                <td>21/12/2023</td>
                                <td>TP.HCM</td>
                                <td>1Tr</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>1118</td>
                                <td>Lê anh </td>
                                <td>21/12/2023</td>
                                <td>TP.HCM</td>
                                <td>1Tr</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>1110</td>
                                <td>Lê anh </td>
                                <td>21/12/2023</td>
                                <td>TP.HCM</td>
                                <td>1Tr</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>