
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Scripts/app.js"></script>
    <link href="~/Content/bootstrap/app.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <title>Form login unitop.vn</title>
</head>

<body>
    <div id="wrapper">
        @using (Html.BeginForm("Index", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div id="form-login">
                <h1 class="form-heading">Đăng nhập</h1>
                <div class="form-group">
                    <i class="far fa-user"></i>
                    @Html.TextBox("Acc", "", new { @class = "form-input", @placeholder = "Email" })
                </div>
                <div class="form-group">
                    <i class="fas fa-key"></i>
                    @Html.Password("Pass", "", new { @class = "form-input", @placeholder = "Mật khẩu" })
                    <div id="eye">
                        <i class="far fa-eye"></i>
                    </div>
                </div>
                <input type="submit" value="Đăng nhập" class="form-submit">
            </div>

        }
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</html>



