@model ShopBanHang.Models.Customers

@{
    ViewBag.Title = "Index";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active"></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Danh sách đơn hàng mới đặt</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Stt</th>
                                <th>Số điện thoại</th>
                                <th>Tên khách hàng</th>
                                <th>Giới tính</th>
                                <th>Địa chỉ</th>
                                <th>Số lần mua</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01</td>
                                <td>0976.231.255</td>
                                <td>Lê Anh </td>
                                <td>Nam</td>
                                <td>TP.HCM</td>
                                <td>11</td>
                                <td>Leanh@gmail.com</td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>0989.321.255</td>
                                <td>Hồ Thị Thảo </td>
                                <td>Nữ</td>
                                <td>TP.SocTrang</td>
                                <td>12</td>
                                <td>Hothithao@gmail.com</td>
                            </tr>
                            <tr>
                                <td>03</td>
                                <td>0976.231.255</td>
                                <td>Lê Đăng Khoa </td>
                                <td>Nam</td>
                                <td>TP.LangSon</td>
                                <td>19</td>
                                <td>Dangkhoale@gmail.com</td>
                            </tr>
                            <tr>
                                <td>04</td>
                                <td>0976.231.255</td>
                                <td>Lê anh </td>
                                <td>Nam</td>
                                <td>TP.HCM</td>
                                <td>20</td>
                                <td>Leanh@gmail.com</td>
                            </tr>
                            <tr>
                                <td>05</td>
                                <td>0976.231.255</td>
                                <td>Lê anh </td>
                                <td>Nam</td>
                                <td>TP.HCM</td>
                                <td>01</td>
                                <td>Leanh@gmail.com</td>
                            </tr>
                            <tr>
                                <td>06</td>
                                <td>0976.231.255</td>
                                <td>Lê anh </td>
                                <td>Nam</td>
                                <td>TP.HCM</td>
                                <td>02</td>
                                <td>Leanh@gmail.com</td>
                            </tr>
                            <tr>
                                <td>07</td>
                                <td>0976.231.255</td>
                                <td>Lê anh </td>
                                <td>Nam</td>
                                <td>TP.HCM</td>
                                <td>09</td>
                                <td>Leanh@gmail.com</td>
                            </tr>
                            <tr>
                                <td>08</td>
                                <td>0976.231.255</td>
                                <td>Lê anh </td>
                                <td>Nam</td>
                                <td>TP.HCM</td>
                                <td>08</td>
                                <td>Leanh@gmail.com</td>
                            </tr>
                            <tr>
                                <td>09</td>
                                <td>0976.231.255</td>
                                <td>Lê anh </td>
                                <td>Nam</td>
                                <td>TP.HCM</td>
                                <td>04</td>
                                <td>Leanh@gmail.com</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>0976.231.255</td>
                                <td>Lê anh </td>
                                <td>Nam</td>
                                <td>TP.HCM</td>
                                <td>03</td>
                                <td>Leanh@gmail.com</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>0976.231.255</td>
                                <td>Lê anh </td>
                                <td>Nam</td>
                                <td>TP.HCM</td>
                                <td>13</td>
                                <td>Leanh@gmail.com</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>0976.231.255</td>
                                <td>Lê anh </td>
                                <td>Nam</td>
                                <td>TP.HCM</td>
                                <td>05</td>
                                <td>Leanh@gmail.com</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>0976.231.255</td>
                                <td>Lê anh </td>
                                <td>Nam</td>
                                <td>TP.HCM</td>
                                <td>07</td>
                                <td>Leanh@gmail.com</td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>0976.231.255</td>
                                <td>Lê anh </td>
                                <td>Nam</td>
                                <td>TP.HCM</td>
                                <td>14</td>
                                <td>Leanh@gmail.com</td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>0976.231.255</td>
                                <td>Lê anh </td>
                                <td>Nam</td>
                                <td>TP.HCM</td>
                                <td>06</td>
                                <td>Leanh@gmail.com</td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>0976.231.255</td>
                                <td>Lê anh </td>
                                <td>Nam</td>
                                <td>TP.HCM</td>
                                <td>16</td>
                                <td>Leanh@gmail.com</td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>0976.231.255</td>
                                <td>Lê anh </td>
                                <td>Nam</td>
                                <td>TP.HCM</td>
                                <td>15</td>
                                <td>Leanh@gmail.com</td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>0976.231.255</td>
                                <td>Lê anh </td>
                                <td>Nam</td>
                                <td>TP.HCM</td>
                                <td>17</td>
                                <td>Leanh@gmail.com</td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>0976.231.255</td>
                                <td>Lê anh </td>
                                <td>Nam</td>
                                <td>TP.HCM</td>
                                <td>18</td>
                                <td>Leanh@gmail.com</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>0976.231.255</td>
                                <td>Lê anh </td>
                                <td>Nam</td>
                                <td>TP.HCM</td>
                                <td>10</td>
                                <td>Leanh@gmail.com</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>

